body {
  background: linear-gradient(to right, #3fd2fe 0%, #2f8af2 100%);
  position: relative;
}

.blur {
  filter: blur(6px);
}

@keyframes unblur {
  from { 
    filter: blur(6px); 
  }
  to { 
    filter: blur(0); 
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.unblur {
  animation-name: unblur;
  animation-timing-function: linear;
  animation-duration: 1.25s;
}

.fadeIn {
  animation: fadeIn ease 1s;
}

.answer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.arrow-section {
  position: fixed;
  bottom: 100px;
}

.answer {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-size: 38px;
  font-style: normal;
  color: #fff;
  margin: 0 32px;
  user-select: none;
}

.answer:hover {
  cursor: pointer;
}

.quest-number {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin-top: 12px;
  user-select: none;
}

.readme {
  display: none;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 12px auto;
  user-select: none;
}

.readme p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.readme span {
  text-decoration: underline;
}

.right {
  transform: rotate(45deg);
  right: 40px;
}

.right:hover {
  border-top: 5px solid #3fd2fe;
  border-right: 5px solid #3fd2fe;
  cursor: pointer;
}

.left {
  transform: rotate(-135deg);
  left: 40px;
}

.left:hover {
  border-top: 5px solid #2f8af2;
  border-right: 5px solid #2f8af2;
  cursor: pointer;
}

.arrow {
  position: fixed;
  transition: border 0.2s ease-out;
  width: 32px;
  height: 32px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
